*{
    box-sizing: border-box;
    background-color:#D2B48C;
}
body {
    overflow-x: hidden;
}
#coffee{
display: grid;
grid-template-columns: repeat(3,auto);
}
.coffee{
    padding: 100px;
    border-radius: 25px;
}
.coffee img{
    height: 300px;
}
h1
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #F5F5DC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}